<div class="container">
  <div class="search-container">
    <div>
      <p-iconField iconPosition="left">
        <p-inputIcon styleClass="pi pi-search" />
        <input
          type="text"
          style="border-radius: 1rem"
          pInputText
          placeholder="Search"
          (input)="searchValue($event.target)"
        />
      </p-iconField>
    </div>
    <div style="margin-left: 2rem">
      <p-button
        label="Add Damage Product"
        [text]="true"
        [raised]="true"
        severity="warning"
        (click)="AddRecord()"
      />
    </div>
    <div style="margin-left: 2rem">
      <p-fileUpload
        #fileUpload
        mode="basic"
        accept=".xlsx,.xls"
        [maxFileSize]="1000000"
        label="Import"
        chooseLabel="Import"
        class="mr-2 inline-block"
        (onSelect)="onFileSelect($event)"
      >
      </p-fileUpload>
    </div>
    <div style="margin-left: 2rem">
      <p-button
        label="Export Data"
        [text]="true"
        (click)="exportData()"
        [raised]="true"
        [plain]="true"
      />
    </div>
  </div>
  <div class="table-container">
    <p-table
      [value]="damageDetails"
      [loading]="loading"
      [paginator]="true"
      [rows]="5"
      [tableStyle]="{ 'min-width': '60rem' }"
      [rowsPerPageOptions]="[5, 10]"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="companyName" style="width: 12%">
            Company Name <p-sortIcon field="companyName" />
          </th>
          <th pSortableColumn="productName" style="width: 26%">
            Product Name <p-sortIcon field="productName" />
          </th>
          <th pSortableColumn="quantity" style="width: 12%">
            Quantity <p-sortIcon field="quantity" />
          </th>
          <th pSortableColumn="mrp" style="width: 12%">
            MRP <p-sortIcon field="mrp" />
          </th>
          <th style="width: 12%">Expiry Date</th>
          <th style="width: 12%">Status</th>
          <th style="width: 9%"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-damage>
        <tr>
          <td>{{ damage.companyName }}</td>
          <td>{{ damage.productName }}</td>
          <td>{{ damage.quantity }}</td>
          <td>{{ damage.mrp }}</td>
          <td>{{ damage.dOExpiry | date : "yyyy-MM-dd" }}</td>
          <td>
            <p-tag
              [severity]="damage.isDeleted === false ? 'warning' : 'info'"
              [value]="
                damage.isDeleted === false
                  ? 'Damage in Stock'
                  : 'Damage not in warehouse'
              "
            ></p-tag>
          </td>
          <td>
            <div class="table-action-partition">
              <button
                *ngIf="!damage.isDeleted"
                type="button"
                pButton
                pRipple
                icon="pi pi-pencil"
                (click)="selectDataById(damage._id)"
              ></button>
              <button
                *ngIf="!damage.isDeleted"
                type="button"
                severity="danger"
                pButton
                pRipple
                icon="pi pi-trash"
                (click)="deleteDataById(damage._id)"
              ></button>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="8">No damage details found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div style="margin-top: 1rem">
    <p-messages
      [(value)]="messages"
      [enableService]="false"
      [closable]="false"
    ></p-messages>
  </div>
</div>
