<div class="container">
  <div class="search-container">
    <div>
      <p-iconField iconPosition="left">
        <p-inputIcon styleClass="pi pi-search" />
        <input
          type="text"
          style="border-radius: 1rem"
          pInputText
          placeholder="Search"
          (input)="searchValue($event.target)"
        />
      </p-iconField>
    </div>
    <div style="margin-left: 2rem">
      <p-button
        label="Add User"
        [text]="true"
        [raised]="true"
        severity="warning"
        (click)="AddRecord()"
      />
    </div>
  </div>
  <div class="table-container">
    <p-table
      [value]="users"
      [loading]="loading"
      [paginator]="true"
      [rows]="5"
      [tableStyle]="{ 'min-width': '60rem' }"
      [rowsPerPageOptions]="[5, 10]"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 15%">Name</th>
          <th style="width: 15%">Role</th>
          <th style="width: 20%">Contact Details</th>
          <th style="width: 25%">Address</th>
          <th style="width: 15%">Status</th>
          <th style="width: 8%"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr>
          <td>{{ user.fullName }}</td>
          <td>
            {{ user.roleName === "R1" ? "Sales Assistant" : "Instructor" }}
          </td>
          <td>{{ user.phone + " | " + user.email }}</td>
          <td>
            {{
              user.address.length > 30
                ? user.address.slice(0, 30) + "..."
                : user.address
            }}
          </td>
          <td>
            <p-tag
              [severity]="user.isActive === false ? 'warning' : 'info'"
              [value]="user.isActive === false ? 'Inactive' : 'Active'"
            ></p-tag>
          </td>
          <td>
            <div class="table-action-partition">
              <button
                type="button"
                pButton
                pRipple
                icon="pi pi-pencil"
                (click)="selectDataById(user._id)"
              ></button>
              <button
                *ngIf="user.isActive"
                type="button"
                severity="danger"
                pButton
                pRipple
                icon="pi pi-trash"
                (click)="deleteDataById(user._id)"
              ></button>
              <button
                *ngIf="!user.isActive"
                type="button"
                severity="success"
                pButton
                pRipple
                icon="pi pi-verified"
                (click)="activeById(user._id)"
              ></button>
            </div>
          </td>
          <td></td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="4">No User found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div style="margin-top: 1rem">
    <p-messages
      [(value)]="messages"
      [enableService]="false"
      [closable]="false"
    ></p-messages>
  </div>
</div>
